<?xml version="1.0"?>

<robot name ="wam" xmlns:xacro="http://ros.org/wiki/xacro">

	<property name="M_PI" value="3.1415926535897931" />

	<link name="world" />

	<xacro:include filename="$(find wam_description)/xacro/table.urdf.xacro" />

	<joint name="world_table_joint" type="fixed" static="true">
		<parent link="world"/>
		<child link="table_top_link" />
		<origin xyz="${-table_x} ${-table_y} ${-table_z}" rpy="0.0 0.0 0.0" />
	</joint>

  
	<xacro:include filename="$(find wam_description)/xacro/wam.urdf.xacro" />

	<joint name="table_wam_joint" type="fixed" static="true">
		<parent link="table_top_link"/>
		<child link="wam_origin" />
		<origin xyz="${(1.0-0.220)} -0.140 ${table_height}" rpy="0.0 0.0 0.0" />
	</joint>

</robot>
